@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
            --white: #fff;
            --green: #3DA200;
        }
        body {
            background-color: var(--green);
            font-family: system-ui;
            overflow: hidden;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .container {
            width: 400px;
            border: 1px solid var(--white);
            display: grid;
            grid-template-columns: 1fr;
            padding: 20px;
            border-radius: 15px;
            background-color: var(--white);
        }
        
        .logo {
            padding:20px;
            font-family: 'Lobster', cursive;
            font-size: xx-large;
            height:40px;
            text-align: center;
        }
        .logo span {
            color: var(--green);
        }
        .login-form input[type="text"],
        .login-form input[type="password"],
        .login-form button {
            width: 100%;
            margin-bottom: 15px;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid var(--green);
            box-sizing: border-box;
            font-size: 16px;
        }
        .login-form button {
            background-color: var(--green);
            color: var(--white);
            font-weight: bold;
            cursor: pointer;
        }
        .login-form button:hover {
            background-color: #2c7f00; /* Darker shade for hover effect */
        }