<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Merlemon_IceCream</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StaffController</display-name>
    <servlet-name>StaffController</servlet-name>
    <servlet-class>admin.controller.StaffController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffController</servlet-name>
    <url-pattern>/StaffController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileController</display-name>
    <servlet-name>ProfileController</servlet-name>
    <servlet-class>admin.controller.ProfileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileController</servlet-name>
    <url-pattern>/ProfileController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListMenuController</display-name>
    <servlet-name>ListMenuController</servlet-name>
    <servlet-class>admin.controller.ListMenuController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListMenuController</servlet-name>
    <url-pattern>/ListMenuController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SalesController</display-name>
    <servlet-name>SalesController</servlet-name>
    <servlet-class>admin.controller.SalesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalesController</servlet-name>
    <url-pattern>/SalesController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStaffController</display-name>
    <servlet-name>DeleteStaffController</servlet-name>
    <servlet-class>admin.controller.DeleteStaffController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStaffController</servlet-name>
    <url-pattern>/DeleteStaffController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMenuController</display-name>
    <servlet-name>DeleteMenuController</servlet-name>
    <servlet-class>admin.controller.DeleteMenuController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMenuController</servlet-name>
    <url-pattern>/DeleteMenuController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddOrderController</display-name>
    <servlet-name>AddOrderController</servlet-name>
    <servlet-class>admin.controller.AddOrderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOrderController</servlet-name>
    <url-pattern>/AddOrderController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>admin.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>admin.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMenuController</display-name>
    <servlet-name>AddMenuController</servlet-name>
    <servlet-class>admin.controller.AddMenuController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMenuController</servlet-name>
    <url-pattern>/AddMenuController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewMenuController</display-name>
    <servlet-name>ViewMenuController</servlet-name>
    <servlet-class>admin.controller.ViewMenuController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewMenuController</servlet-name>
    <url-pattern>/ViewMenuController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletemenuController</display-name>
    <servlet-name>DeletemenuController</servlet-name>
    <servlet-class>admin.controller.DeletemenuController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletemenuController</servlet-name>
    <url-pattern>/DeletemenuController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateMenuController</display-name>
    <servlet-name>UpdateMenuController</servlet-name>
    <servlet-class>admin.controller.UpdateMenuController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMenuController</servlet-name>
    <url-pattern>/UpdateMenuController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartController</display-name>
    <servlet-name>CartController</servlet-name>
    <servlet-class>admin.controller.CartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartController</servlet-name>
    <url-pattern>/CartController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderController</display-name>
    <servlet-name>OrderController</servlet-name>
    <servlet-class>admin.controller.OrderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderController</servlet-name>
    <url-pattern>/OrderController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCartController</display-name>
    <servlet-name>DeleteCartController</servlet-name>
    <servlet-class>admin.controller.DeleteCartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCartController</servlet-name>
    <url-pattern>/DeleteCartController</url-pattern>
  </servlet-mapping>
</web-app>